.nirvana_logo {
  background-size: contain;
  max-height: 300px;
  width: 100%;
  max-width: 400px;
}
.about_text {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.lead_banner {
  background-repeat: no-repeat;
  background-size: cover;
}
.lead_pic {
  width: 400;
  height: 400;
  border-radius: 400 / 2;
}
