.card_wrap {
  width: 500px;
}
.slider_event {
  background-color: #111111;
  margin: 25px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.slider_text {
  max-width: 800px;
  color: aqua;
}

@media (max-width: 1100px) {
  .slider_event {
    flex-direction: column;

    margin: 25px;
    padding: 25px;
  }
  .card_wrap {
    margin: auto;
    max-width: fit-content;
  }
  .slider_text {
    margin: auto;
  }
}
